/* Use this contrast checker: https://webaim.org/resources/contrastchecker/ */

/* Code Along, Part 1 */

/* 1. Check the ratio of the background color and the color of the text.
    We want the ratio 4:1 or higher. What is it? */


/* 2. Change the background color so that it contrasts well with the text. 
    What color do you think would provide a good contrast with red? 
    (Hint: Remember lighter colors contrast best with darker colors and vice versa). */

/* 3. Recheck the ratio now. Afterwards, go to the HTML file.*/

body {
    background-color: #d93f3f;
    color: #eb2626;
}


.food-pic {
    width: 200px;
}

.title {
    text-align: center;
    color: #eb2626;
    border: #eb2626 solid 5px;
    border-radius: 30px;
    font-family: 'Italianno', cursive;
    font-size: 90px;
}